.about {
  margin-bottom: 149px;
}
.about__inner {
  width: 100%;
}
.about__title {
  margin-bottom: 30px;
  color: #121212;
}
.about__description {
  margin-bottom: 30px;
  max-width: 1051px;
  font-size: 45px;
  line-height: 61px;
  color: #121212;
}
.about__link:hover {
  border: 1px solid #ad1818;
  background: white;
  color: #ad1818;
  transition: all 0.3s ease;
}
@media (max-width: 1199px) {
  .about {
    margin-bottom: 120px;
  }
  .about__title {
    margin-bottom: 28px;
  }
  .about__description {
    padding-left: 3px;
    max-width: 690px;
    font-size: 35px;
    line-height: 48px;
  }
  .about__link {
    font-size: 20px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .about {
    margin-bottom: 80px;
  }
  .about__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }
  .about__description {
    padding-left: 0px;
    max-width: 100%;
    font-size: 22px;
    line-height: 30px;
  }
  .about__link {
    padding-top: 15px;
    width: 100%;
    height: 51px;
    font-size: 16px;
    line-height: 22px;
  }
}
