/* .burger-btn {
  display: none;
} */
.burger {
  position: fixed;
  display: flex;
  justify-content: end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.burger_open {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.burger__content {
  padding-top: 80px;
  padding-left: 30px;
  padding-bottom: 65px;
  width: 274px;
  height: 100%;
  background: white;
  overflow-y: auto;
  transition: transform 0.3s linear;
  transform: translateX(100%);
}
.burger_open .burger__content {
  transform: translateX(0);
}
.burger__logo {
  display: block;
  width: 156px;
  height: 26px;
  background: url(../resour—Åes/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.burger__nav {
  margin-top: 50px;
  margin-bottom: 90px;
}
.burger__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
.burger__nav-link {
  display: block;
  font-size: 25px;
  line-height: 34px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.burger__nav-link a {
  text-decoration: none;
  color: #121212;
}
.burger__contacts-title {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
}
.burger__contacts-list {
  display: flex;
  flex-direction: column;
}
.burger__contacts-tel a,
.burger__contacts-tg a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 36px;
}
