.burger-btn {
  display: none;
}
.burger {
  position: fixed;
  display: flex;
  justify-content: end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.burger_open {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.burger__content {
  padding-top: 80px;
  padding-left: 30px;
  padding-bottom: 65px;
  width: 274px;
  height: 100%;
  background: white;
}
.burger__logo {
  display: block;
  width: 156px;
  height: 26px;
  background: url(../resourсes/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.burger__nav {
  margin-top: 50px;
  margin-bottom: 90px;
}
.burger__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
.burger__nav-link {
  display: block;
  font-size: 25px;
  line-height: 34px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.burger__nav-link a {
  text-decoration: none;
  color: #121212;
}
.burger__contacts-title {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.5;
}
.burger__contacts-list {
  display: flex;
  flex-direction: column;
}
.burger__contacts-tel a,
.burger__contacts-tg a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 36px;
}
@media (max-width: 1199px) {
  .burger-btn {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 23px;
    z-index: 1010;
    background: url(../resourсes/burger-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 7px;
  }
  .burger-btn_open {
    position: absolute;
    width: 34px;
    height: 34px;
    z-index: 1010;
    background: url(../resourсes/burger-btn_open.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 20px 20px;
  }
}
@media (max-width: 767px) {
  .burger-btn {
    width: 38px;
    height: 16px;
  }
  .burger-btn_open {
    position: absolute;
    width: 34px;
    height: 34px;
    z-index: 1010;
    background: url(../resourсes/burger-btn_open.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 20px 20px;
  }
}
