/* Стандартная красная широкая кнопка(Projects, Services) */
.full-width-btn {
  display: block;
  width: 100%;
  line-height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  background-color: #ad1818;
  color: white;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}
/* Создание стандартной белой широкой кнопки (Projects) */
.full-width-btn_inverted {
  background-color: white;
  color: #ad1818;
}
/* Стандартная маленькая красная кнопка (Popup) */
.full-width-btn_small {
  line-height: 67px;
  font-size: 20px;
}
.small-width-btn {
  width: 255px;
  font-size: 20px;
  line-height: 67px;
}
/* Ховеры */
.full-width-btn:hover,
.full-width-btn_small:hover {
  background-color: white;
  color: #ad1818;
  transition: all 0.3s ease;
}
.full-width-btn_inverted:hover {
  color: #fff;
  background-color: #ad1818;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .full-width-btn {
    font-size: 22px;
    line-height: 100px;
  }
  .full-width-btn_small {
    line-height: 67px;
    font-size: 20px;
  }
}

/* Кнопки бургера */

@media (max-width: 1199px) {
  .burger-btn {
    display: flex;
    position: relative;
    width: 50px;
    height: 23px;
    z-index: 1100;
    right: 0px;
    background-color: transparent;
  }
  .burger-btn__line {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 1px;
    background-color: transparent;
    z-index: 1100;
    transition: all 0.3s linear;
  }
  .burger-btn span::before {
    content: "";
    position: absolute;
    right: 0px;
    top: -4px;
    width: 50px;
    height: 2px;
    background-color: black;
    z-index: 1100;
    transition: all 0.3s linear;
  }
  .burger-btn span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 2px;
    width: 31px;
    height: 2px;
    background-color: black;
    z-index: 1100;
    transition: all 0.3s linear;
  }
  .burger-btn_open {
    display: flex;
    position: relative;
    z-index: 1100;
  }
  .burger-btn_open span {
    background-color: transparent;
  }
  .burger-btn_open span::before {
    top: 0px;
    width: 31px;
    transform: rotateZ(-45deg);
  }
  .burger-btn_open span::after {
    top: 0px;
    transform: rotateZ(45deg);
  }
}
