.contacts {
  padding-top: 150px;
  padding-bottom: 150px;
}
.contacts__title {
  margin-bottom: 74px;
}
.contacts__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 104px;
}
.contacts__tel {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  font-size: 60px;
  text-decoration: none;
  color: #121212;
  transition: all 0.3s ease;
}
.contacts__email {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 80px;
  font-size: 60px;
  text-decoration: none;
  color: #121212;
  color: gray;
  transition: all 0.3s ease;
}
.contacts__tel:before,
.contacts__email:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -46px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.contacts__tel:before {
  background-image: url(../resourсes/tel.svg);
}
.contacts__email:before {
  background-image: url(../resourсes/email.svg);
}
.contacts__email:hover {
  border-bottom: 2px solid gray;
  transition: all 0.3s ease;
}
.contacts__tel:hover {
  color: gray;
  transition: all 0.3s ease;
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
}
