.contacts {
  padding-top: 150px;
  padding-bottom: 150px;
}
.contacts__title {
  margin-bottom: 74px;
}
.contacts__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: 100%;
  gap: 104px;
  vertical-align: middle;
}
.contacts__tel,
.contacts__tg {
  position: relative;
  /* flex: 1 0 calc(50% - 52px); */
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.contacts__tel a {
  color: #121212;
  text-decoration: none;
}
.contacts__tg a {
  color: gray;
  text-decoration: none;
}
.contacts__tel:before,
.contacts__tg:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: -5px;
  top: -49px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.contacts__tel:before {
  background-image: url(../resourсes/tel.svg);
}
.contacts__tg:before {
  background-image: url(../resourсes/telegram-logo.svg);
}
.contacts__tg:hover {
  border-bottom: 2px solid gray;
  transition: all 0.3s ease;
}
.contacts__tel:hover {
  color: gray;
  transition: all 0.3s ease;
}
@media (max-width: 1199px) {
  .contacts {
    padding-top: 120px;
    padding-bottom: 80px;
  }
  .contacts__list {
    gap: 114px;
  }
  .contacts__tel,
  .contacts__tg {
    font-size: 45px;
  }
}
@media (max-width: 830px) {
  .contacts__list {
    flex-direction: column;
    gap: 58px;
  }
}
@media (max-width: 767px) {
  .contacts {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contacts__list {
    flex-direction: column;
    gap: 58px;
  }
  .contacts__tel,
  .contacts__tg {
    font-size: 35px;
    line-height: 46px;
  }
  .contacts__tel a,
  .contacts__tg a {
    color: #121212;
  }
  .contacts__tel:before,
  .contacts__tg:before {
    width: 18px;
    height: 18px;
    top: -20px;
    left: 0;
  }
}
