.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #121212;
}
.footer__nav {
  margin: auto;
  margin-bottom: 87px;
  display: flex;
  width: 450px;
  justify-content: space-between;
}
.footer__link {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #f5f5f5;
  transition: all 0.3s ease;
}
.footer__link:hover {
  opacity: 0.5;
  transition: all 0.3s ease;
}
.footer__credits {
  color: #ffffff;
  opacity: 0.5;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 26px;
  }
  .footer__nav {
    margin-bottom: 41px;
    width: 280px;
  }
  .footer__link {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__credits {
    font-size: 13px;
    line-height: 18px;
  }
}
