.gallery {
  margin: 0 auto;
  position: relative;
  height: 100vh;
}
.gallery__title-wrapper {
  position: absolute;
  top: 60px;
  z-index: 100;
  max-width: 100%;
}
.gallery__title {
  margin-bottom: 30px;
  /* display: block; */
  width: 100%;
  font-size: 22px;
  line-height: 30px;
  color: white;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
}
.gallery__slides {
  height: 100%;
  position: relative;
}
.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.gallery__slide_active {
  opacity: 1;
}
.slide__description {
  position: absolute;
  bottom: 60px;
  z-index: 100;
  font-size: 30px;
  line-height: 41px;
  max-width: 443px;
  height: 82px;
  color: white;
}
.slide__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery__controls {
  position: absolute;
  bottom: 165px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 48px;
}
.gallery__control-prev,
.gallery__control-next {
  height: 33px;
  width: 20px;
  background: url(../resour—Åes/control.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease;
}
.gallery__control-next {
  transform: rotate(180deg);
}
.gallery__control-prev:hover,
.gallery__control-next:hover {
  opacity: 1;
  transition: all 0.3s ease;
}
@media (max-width: 1199px) {
  .gallery {
    height: 536px;
  }
  .gallery__title-wrapper {
    margin-left: 35px;
    top: 80px;
  }
  .gallery__title {
    font-size: 20px;
    line-height: 27px;
  }
  .slide__description {
    margin-left: 35px;
    bottom: 80px;
    font-size: 25px;
    line-height: 34px;
    max-width: 377px;
    height: 68px;
  }
  .gallery__controls {
    width: 100%;
    margin-left: 35px;
    bottom: 155px;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .gallery {
    height: 408px;
  }
  .gallery__title-wrapper {
    margin-left: 0px;
    top: 61px;
  }
  .gallery__title {
    font-size: 14px;
    line-height: 19px;
  }
  .slide__description {
    margin-left: 0px;
    bottom: 60px;
    font-size: 19px;
    line-height: 26px;
    max-width: 285px;
    height: 68px;
  }
  .gallery__controls {
    width: 100%;
    margin-left: 0px;
    justify-content: space-between;
    align-items: center;
  }
}
