.header {
  margin-bottom: 70px;
  margin-top: 33px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.nav__link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  color: #121212;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.nav__link:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transition: all 0.3s ease;
}
@media (max-width: 1199px) {
  .nav {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
