.intro {
  margin-bottom: 149px;
}
.intro__title {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  width: 87%;
}
.intro__image {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../resourсes/start@2x-desktop.jpeg);
  background-position: 30% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro__image img {
  width: 100%;
}
.intro__description {
  position: absolute;
  display: block;
  max-width: 430px;
  min-height: 81px;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
  line-height: 27px;
  color: white;
}
@media (max-width: 1199px) {
  .intro {
    margin-bottom: 120px;
  }
  .intro__title {
    max-width: 802px;
    font-size: 50px;
    line-height: 60px;
  }
  .intro__image {
    width: 100%;
    height: 400px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../resourсes/start@2x-tablet.jpeg);
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .intro__description {
    bottom: 30px;
    max-width: 430px;
    font-size: 20px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .intro {
    margin-bottom: 80px;
  }
  .intro__title {
    margin-bottom: 23px;
    max-width: 337px;
    font-size: 30px;
    line-height: 32px;
  }
  .intro__image {
    width: 100%;
    height: 304px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../resourсes/start@2x-mobile.jpeg);
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .intro__description {
    max-width: 312px;
    left: 15px;
    bottom: 15px;
    font-size: 16px;
    line-height: 22px;
  }
}
