@import "../styles/buttons.css";
@import "../styles/header.css";
@import "../styles/intro.css";
@import "../styles/about.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/calculate.css";
@import "../styles/reviews.css";
@import "../styles/gallery.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";
@import "../styles/popup.css";
@import "../styles/burger.css";
@import "../styles/input.css";
@import "../styles/order.css";
html {
  scroll-behavior: smooth;
}
button {
  font-family: inherit;
  cursor: pointer;
}
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: white;
  color: #121212;
}
.body_fixed {
  overflow: hidden;
}
h1,
h2,
h3,
a,
p,
div,
button {
  letter-spacing: -0.03em;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
}
.title {
  display: block;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
.inner {
  width: 100%;
}
@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 18px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
  }
  .title {
    font-size: 14px;
    line-height: 19px;
  }
}
