.popup {
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.popup_open {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.popup__content {
  padding: 94px 79px 86px 55px;
  position: relative;
  overflow-y: hidden;
  border-radius: 10px;
  width: 777px;
  height: 708px;
  max-width: 100%;
  max-height: 100%;
  background: #ffffff;
}
.popup__close-btn {
  position: absolute;
  top: 32px;
  right: 34px;
  height: 50px;
  width: 50px;
  background: url(../resour—Åes/popup__close-btn.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
  .popup {
    padding: 7px;
  }
  .popup__content {
    padding: 80px 16px;
    width: 361px;
    height: 611px;
    max-width: 100%;
    max-height: 100%;
    background: #ffffff;
    overflow-y: auto;
  }
  .popup__close-btn {
    top: 40px;
    right: 29px;
    height: 30px;
    width: 30px;
    background-size: 18px 18px;
  }
}
