.reviews {
  padding-top: 150px;
  padding-bottom: 146px;
}
.reviews__title {
  margin-bottom: 30px;
  color: #121212;
}
.reviews__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 80px;
}
.review {
  flex: 1 0 calc(50% - 25px);
  /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - 25px); */
  max-width: 75%;
}
.review__title {
  margin-bottom: 14px;
  display: block;
  font-size: 45px;
  line-height: 61px;
}
.review__description {
  display: block;
  font-size: 22px;
  line-height: 30px;
}
@media (max-width: 1199px) {
  .reviews {
    padding-top: 117px;
    padding-bottom: 120px;
  }
  .review {
    max-width: 694px;
  }
  .review__title {
    font-size: 35px;
    line-height: 48px;
  }
  .review__description {
    font-size: 20px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .reviews__list {
    flex-direction: column;
  }
  .review {
    width: 100%;
  }
  .review__title {
    font-size: 25px;
    line-height: 34px;
  }
  .review__description {
    font-size: 16px;
    line-height: 22px;
  }
}
