.services {
  padding: 150px 0;
  background-color: #121212;
  color: white;
}
.services__title {
  margin-bottom: 30px;
  color: white;
}
.services__inner {
  width: 100%;
}
.services__list {
  margin-bottom: 104px;
  display: flex;
  width: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 81px;
}
.service {
  width: calc(50% - 5px);
}
.service__image {
  margin-bottom: 22px;
  position: relative;
}
.service__image img {
  width: 100%;
  height: 389px;
  object-fit: cover;
}
.label-wrapper {
  position: absolute;
  left: 30px;
  top: 30px;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label__description {
  padding: 5px 20px;
  font-size: 22px;
  line-height: 30px;
  background-color: #ad1818;
  border-radius: 5px;
}
.service__description {
  font-size: 30px;
  line-height: 41px;
  margin-left: 3px;
}
/* .services__order-btn {
  padding-top: 56px;
  padding-bottom: 56px;
  width: 100%;
  background-color: #ad1818;
  border-radius: 5px;
  border: 0px;
  color: white;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
} */
@media (max-width: 1199px) {
  .services {
    padding-bottom: 120px;
  }
  .services__list {
    row-gap: 80px;
  }
  .service__image img {
    height: 315px;
  }
  .service__description {
    font-size: 25px;
    line-height: 34px;
  }
  .label__description {
    font-size: 20px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .services {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .services__list {
    flex-direction: column;
    gap: 60px;
    margin-bottom: 60px;
  }
  .service {
    width: 100%;
  }
  .service__image img {
    margin-bottom: 15px;
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
  .service__description {
    font-size: 18px;
    line-height: 25px;
  }
  .label-wrapper {
    left: 24px;
    top: 24px;
  }
  .label__description {
    font-size: 14px;
    line-height: 19px;
  }
}
